body {
    margin: 0 auto;
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 400; 
}

/* -----------------------------------------ШАПКА------------------------------------------------ */

.header {
    
    margin: 35px auto 0px auto;
    width: 100%;
    z-index: 50;
    line-height: 1.2;
    letter-spacing: 1px;
    position:absolute;
    text-align: center;
}
    .header__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 65px;
        box-sizing: border-box;
    }

        .header__menu {
            display: flex;  
        }
            .menu__item {
            }
            .menu__item:not(:last-child) {
                margin-right: 51px;
            }

/* -----------------------------------------ТЕЛО------------------------------------------------ */

    .main__block-banner {
        font-family:Quicksand;
        margin: 0 auto;
        text-align: center;
        position: relative;  
        padding-top: 310px;
        padding-bottom: 50px;     
    }
    .main__block-header {
        color: #ffffff;
        z-index: 50;
        position: relative;
    }
        .block__header-title {
            font-size: 60px;
            margin: 0 0 20px 0;
        }
        .block__header-text {
            font-size: 20px;
            letter-spacing: 1px;
            margin-bottom: 275px;
        }
    .block__header-image img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;      
        object-fit: cover; 
    }
      
/* ----------------------------------------------------------------------------------------- */

    .main__block-checkbox {
        height: 145px;
        background-color: #f5f6f7;
        display: flex;
        align-items:center ;
        padding: 0px 95px;
        font-family:Quicksand;  
        margin-bottom: 84px;
    }
        .checkbox__block-item {
            font-size: 18px;
            line-height: 1.2;
            text-transform: uppercase;
            color: #333333;
            font-weight: bold;
            z-index: 50;
        }
        .checkbox__input { 
            display: none;           
        }
        .checkbox__input+label {
            display: flex;
            align-items: center;
          }
          .checkbox__input+label:before {
            content: '';
            width: 25px;
            height: 24px;
            margin-right: 17px;
            background-color: #ffffff;
            border: 2px solid #cccccc;
            border-radius: 3px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
          }
          .checkbox__input:checked+label:before {
            background-color: #ffffff;
            background-image: url(img/checkbox.jpg);
            border: 2px solid #aa9b77;
          }
            .item__Men, .item__Women, .item__children {
                padding-right: 40px;            
            }
            .item__button { 
                flex: 1 1 auto;
                text-align: right;
            }
            .item__button button {
                background-color: #aa9b77;
                border: none;
                font-size: 14px;
                line-height: 1.2;
                font-weight: 400;
                text-transform: uppercase;
                color: #ffffff;
                border-radius: 3px;
                padding: 20px 35px;
                letter-spacing: 1px;          
            }
            .item__button button:hover {
                cursor: pointer;
                box-shadow: 0 7px 28px rgba(0,0,0,0.25);
            }
            @media (max-width:874px) {
                .main__block-checkbox {
                    padding: 0 15px;
                }
            }
            @media (max-width:650px) {
                .main__block-checkbox {
                    display: grid;
                    justify-content: center;
                    padding: 10px 0;
                }
            }
/* ----------------------------------------------------------------------------------------- */
.cloth__container {
    font-weight: bold;
}
.cloth__container {
    margin: 0 97px;
    display: flex;
    flex-direction: column;
}
    .cloth__container-titleMen {
        margin-bottom: 45px;      
        position: relative;
        display: flex;
        align-items: center;
    }
    .titleMen-title {
        font-weight: bold;
        font-size: 20px;
        color: #424242;
        background-color: white;
        z-index: 50;
        padding-right: 50px;
    }
    .titleMen-line {
        height: 2px;
        width: 100%;
        background-color: #cccccc;
    }
    .cloth__container-switch {
        display: grid;
        justify-content: right;
    }
        .container__switch-items {
            text-align: center;
            font-size: 16px;
            color: #aa9b77;
        }
    .cloth__container-items {
        margin: 15px 0 90px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px;
    }
        .cloth__container-item {
            padding: 18px;
            box-sizing: border-box;
            display: grid;
            width: 320px;
            height: 378px;
            background-color: #f5f6f7;
            border-radius: 3px;
            align-items: center;
        }
        .cloth__container-item:first-child{
            border: 6px solid #aa9b77;
        }
            .item__cloth-size { 
                font-size: 16px;                
                color: #424242;      
                text-transform: uppercase;
                display: flex; 
                align-content: center;
                gap: 5px;
            }
            .item__cloth-size3 {
                font-size: 18px;    
            }
            .item__cloth-size, .item__cloth-color {
                align-self: flex-start;
            }
            .item__cloth-type, .item__cloth-price {
                align-self: flex-end;
            }
            .size-button {
                border: none;
                background-color: #f5f6f7;
                padding: 0;
                position: relative;
                cursor: pointer;
            }
            .size_icon-content {
                display: none;
                position: absolute;
                text-align: center;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }
            .size_icon-content a {
                display: block;
                background-color: #fff;
                padding: 4px 8px;
                text-decoration: none;
                color: black;
            }
            .size-button:focus .size_icon-content {
                display: block;
            }
            .size-button:focus img {
                transform: rotate(-180deg);
                transition: all 0.3s ease 0s;
            }
            .size_icon-content a:hover {
                background-color: #e8e9eb;
            }
            .item__cloth-color {
                justify-self: right;
            }
            .item__cloth-img {
                grid-column:1/3;
                justify-self: center;                
            }
            .item__cloth-type {
                font-size: 18px;
                line-height: 1.2;
                color: #aa9b77;          
                text-transform: uppercase;   
            }
            .item__cloth-price {
                justify-self: right;
                font-size: 22px;
                color: #424242;        
            }
           
/* ----------------------------------------------------------------------------------------- */
            .main__block-WomenClothes .cloth__container-item:first-child{
                border: none;
            }
            .main__block-WomenClothes .cloth__container-switch {
                justify-content: left;
            }
            .cloth__container-titleWomen {
                margin-bottom: 45px;      
                position: relative;
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
            }
            .titleWomen-title {
                font-weight: bold;
                font-size: 20px;
                color: #424242;
                background-color: white;
                z-index: 50;
                padding-left: 50px;
            }
            .titleWomen-line {
                height: 2px;
                width: 100%;
                background-color: #cccccc;
            }
            @media (max-width:848px) {
                .cloth__container-items {
                    justify-content: center;
                }
            }

/* ----------------------------------------------------------------------------------------- */

.main__block-AboutUS {
    margin-top: 40px;
    height: 402px;
    background-color: #aa9b77;
    position: relative;
    display: flex;
    padding: 0 15px;
    font-weight: bold;
}
.aboutUS__item {
    width: 720px;
    height: 250px;
    border: 2px solid #918363;
    margin: auto;
    display: flex;
    justify-content: center;
}
.aboutUS__item-title {
    position: absolute;
    top: 63px;
    font-size: 20px;
    text-transform: uppercase;
    color: #837659;
    background-color: #aa9b77;
    padding: 0 10px;
}
.aboutUS__item-text {
    align-self: center;
    text-align: center;    
    font-size: 16px;
    line-height: 24px;
    color: #424242;
}

/* ----------------------------------------------------------------------------------------- */

    .main__block-social {
    }
    .social__container {
        height:72px;
        background-color: #535253;  
        display: flex;
        padding: 0 50px;
    }
    .social__container-item {
        display: flex;
        align-items: center;
        padding: 0 15px;
        gap: 20px;  
    }
        .social__container-text {
            font-size: 16px;
            font-weight: bold;
            color: #ffffff; 
        }
        @media (max-width:710px) {
            .social__container {
                justify-content: center;
            }
        }
/* --------------------------footer------------------------------------------------------- */

.footer {
    height: 352px;
    background-color: #424242;  
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 65px;
    display: flex;
    align-items: center;
    
}
    .block-items {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        justify-content: space-between;
    }
            .info__item-title {
                font-size: 20px;
                padding-bottom: 15px;
            }
            .info__item-text {
                font-size: 10px;
                line-height: 20px;
                font-weight: 400;
            }
                .link__item-list {
                    font-weight: 400;
                    font-size: 14px;
                    margin: 0;
                    list-style-type: none;
                    padding-left: 0;
                    display: flex;
                    line-height: 28px;
                    gap: 7px;
                }
                .link__item-list a {
                    color: #ffffff;
                    text-decoration: none;
                }
                .link__item-list span {
                    color: #aa9b77;
                }
                .link__item-text {
                    line-height: 28px;
                    font-size: 18px;
                    text-align: right;
                    text-transform: none;
                }

                @media (max-width:710px) {
                    .block-items {
                        flex-direction: column;
                        justify-content: center;
                        gap: 50px;
                        text-align: center;
                    }
                    .info__item-text br {
                        display: none;
                    }
                    .link__item-text {
                        text-align: center;
                    }
                }