body {
    margin: 0 auto;
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 400; 
}

/* -----------------------------------------ШАПКА------------------------------------------------ */

.header {
    
    margin: 35px auto 0px auto;
    width: 100%;
    z-index: 50;
    line-height: 1.2;
    letter-spacing: 1px;
    position:absolute;
    text-align: center;
}
    .header__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 65px;
        box-sizing: border-box;
    }

        .header__menu {
            display: flex;  
        }
            .menu__item {
            }
            .menu__item:not(:last-child) {
                margin-right: 51px;
            }

/* -----------------------------------------ТЕЛО------------------------------------------------ */

    .main__block-banner {
        font-family:Quicksand;
        margin: 0 auto;
        text-align: center;
        position: relative;  
        padding-top: 310px;
        padding-bottom: 50px;     
    }
    .main__block-header {
        color: #ffffff;
        z-index: 50;
        position: relative;
    }
        .block__header-title {
            font-size: 60px;
            margin: 0 0 20px 0;
        }
        .block__header-text {
            font-size: 20px;
            letter-spacing: 1px;
            margin-bottom: 275px;
        }
    .block__header-image img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;      
        object-fit: cover; 
    }
      
/* ----------------------------------------------------------------------------------------- */

    .main__block-checkbox {
        height: 145px;
        background-color: #f5f6f7;
        display: flex;
        align-items:center ;
        padding: 0px 95px;
        font-family:Quicksand;  
        margin-bottom: 84px;      
    }
        .checkbox__block-item {
            font-size: 18px;
            line-height: 1.2;
            text-transform: uppercase;
            color: #333333;
            font-weight: bold;
            z-index: 50;
        }

        .checkbox__input { 
            display: none;           
        }
        
        .checkbox__input+label {
            display: flex;
            align-items: center;
            
          }
          .checkbox__input+label:before {
            content: '';
            width: 25px;
            height: 24px;
            margin-right: 17px;
            background-color: #ffffff;
            border: 2px solid #cccccc;
            border-radius: 3px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
            
          }
          .checkbox__input:checked+label:before {
            background-color: #ffffff;
            background-image: url(img/checkbox.jpg);
            border: 2px solid #aa9b77;
          }


            .item__Men, .item__Women, .item__children {
                padding-right: 40px;

            
            }
           
            .item__children {
            }
            .item__button { 
                flex: 1 1 auto;
                text-align: right;
            }
            .item__button button {
                background-color: #aa9b77;
                border: none;
                font-size: 14px;
                line-height: 1.2;
                font-weight: 400;
                text-transform: uppercase;
                color: #ffffff;
                border-radius: 3px;
                padding: 20px 35px;
                letter-spacing: 1px;          
            }

            .item__button button:hover {
                cursor: pointer;
                box-shadow: 0 7px 28px rgba(0,0,0,0.25);
            }

/* ----------------------------------------------------------------------------------------- */

.main__block-MenClothes {
    font-weight: bold;
    
}
.cloth__container {
    margin: 0 97px;
    display: flex;
    flex-direction: column;
}
    .cloth__container-title {
        margin-bottom: 45px;
        height: 2px;
        background-color: #cccccc; 
        width: 100%;       
    }
 
    .cloth__container-title::after {
        content: "MEN";
        position: relative;
        top: -10px;
        background-color: white;
        padding-right: 50px;
        font-size: 20px;
        color: #424242;
      
    }
    .cloth__container-switch {
        display: grid;
        justify-content: right;
    }
        .container__switch-items {
            text-align: center;
            font-size: 16px;
            color: #aa9b77;
        }


    .cloth__container-items {
        margin: 15px 0 90px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px;

    }
        .cloth__container-item {
            padding: 18px;
            box-sizing: border-box;
            display: grid;
            width: 320px;
            height: 378px;
            background-color: #f5f6f7;
            border-radius: 3px;
            grid-row-gap: 45px;
            grid-template-rows: minmax(auto, 100px);
            align-items: center;
        }
        .cloth__container-item:first-child{
            border: 6px solid #aa9b77;
        }
            .item__cloth-size { 
                font-size: 16px;                
                color: #424242;
               
                
            }
            .size-button {
                border: none;
                background-color: #f5f6f7;
                padding: 0;
                position: relative;
            }

            .size_icon-content {
                display: none;
                position: absolute;
                text-align: center;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }

            .size_icon-content a {
                display: block;
                background-color: #fff;
                padding: 4px 8px;
                text-decoration: none;
                color: black;
            }
            .size-button:hover .size_icon-content {
                display: block;
            }
            .size_icon-content a:hover {
                background-color: red;
                background-color: #e8e9eb;
            }
            .item__cloth-color {
                justify-self: right;
            }
            .item__cloth-img {
                grid-column:1/3;
                justify-self: center;
                
            }
            .item__cloth-type {
                font-size: 18px;
                line-height: 1.2;
                color: #aa9b77;              
            }
            .item__cloth-price {
                justify-self: right;
                font-size: 22px;
                color: #424242;        
            }
           